apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: sentiflow-ingress
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /api
            pathType: Prefix
            backend:
              service:
                name: sentiflow-backend
                port:
                  number: 5000
          - path: /
            pathType: Prefix
            backend:
              service:
                name: sentiflow-frontend
                port:
                  number: 80