replicaCount: 1

image:
  repository: sentiflow-frontend
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 5001

# המשתנה שמחבר אותנו ל-Backend
backendUrl: "http://backend:5000"

# דרישות הפרויקט: Resource Limits
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi