replicaCount: 1

image:
  repository: orga995/sentiflow-backend
  pullPolicy: IfNotPresent
  tag: "latest"

service:
  type: ClusterIP
  port: 5000

# דרישה מהפרויקט: הגדרת משאבים (CPU/Memory)
resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

env:
  DATABASE_URL: "postgresql://user:password@sentiflow-db:5432/sentiflow"