apiVersion: v1
kind: Service
metadata:
  name: sentiflow-db # <--- שים לב! קבענו שם קבוע כדי שה-Backend ימצא אותו
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 5432
      protocol: TCP
  selector:
    app: {{ .Chart.Name }}